.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.baseButton-button {
  padding: 10px 20px;
  border-radius: 0;
  border: none;
}

.baseButton--primary {
  background-color: #0047ff;
  color: #fff;
}
.baseButton--primary:hover {
  background-color: #fff;
  color: #0047ff;
  border: #0047ff 1px solid;
}
.baseButton--secondary {
  background-color: #ff0000;
  color: #fff;
}
.baseButton--secondary:hover {
  background-color: #fff;
  color: #ff0000;
  border: #ff0000 1px solid;
}
.baseButton--third {
  background-color: #757575;
  color: #fff;
}
.baseButton--third:hover {
  background-color: #fff;
  color: #757575;
  border: #757575 1px solid;
}
